{% extends 'base.html' %}
{% block title %}
  
{% endblock %}

{% block content %}
    <div>
        <b><h6>Patients list for today</h6></b>
        <br>
        {% for patient in patients %}
        <div> <b>{{ patient.name }}</b>
            <br>
              {{ patient.time }} {{ patient.illness }}
        </div>
        <br>
        {% endfor %} 
        <br>

        <b><h6>Patients for tomorrow</h6></b>
        <br>
        {% for patientTomorrow in patientsTomorrow %}
        <div> <b>{{ patientTomorrow.name }}</b>
            <br>
              {{ patientTomorrow.time }} {{ patientTomorrow.illness }}
        </div>
        <br>
        {% endfor %} 
    </div>
{% endblock %}